@model IEnumerable<OnlineFlightBooking.Models.Reservation>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightFromCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightToCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightDateTimeTakeOff)
        </th>
        <th>
            Ticket Price
        </th>
        <th>
            Number Of Tickets
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightStatus)
        </th>

        <th></th>
    </tr>
  
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightFromCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightToCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightDateTimeTakeOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightPrice)
        </td>
        <td>
            @(item.FinalPrice / item.Flight.FlightPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightStatus)
        </td>
        <td></td>
    </tr>
    }
</table>
