@model OnlineFlightBooking.Models.Person

@{
    ViewBag.Title = "LogIn";
}

<title>Log in</title>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/LogIn.css" />
</head>

<body>
    <header id="showcase">
        <h1>TIME TO TRAVEL</h1>
        <p>Ready for your next trip? Book with us now</p>
        <a href="/People/LogIn" class="button">Log in</a>
        <a href="/People/Create" class="button">Sign in</a>
    </header>

    <header id="showcase-login">
        <div class="bg-modal">
            <div class="modal-content">
                <div class="close">
                    @Html.ActionLink("x", "LandingPage")
                </div>
                <img src="~/Images/signInPage.jpg" width="150" height="100" />
                <h2>Log in</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log In" class="button" />
                            </div>
                        </div>
                    </div>
                }

                @if (ViewData["notLegedIn"] != null)
                {
                    <div id="notloged">
                    @ViewData["notLegedIn"]
                    </div>
                }

            </div>
        </div>
    </header>
</body>


</html>
