@model IEnumerable<OnlineFlightBooking.Models.Flight>

@*@Html.Partial("PartialViewForSearch", this.Model)

@Html.Partial("PartialViewForSearchResult", ViewData["flightOut"] as IEnumerable<OnlineFlightBooking.Models.Flight>)

@Html.Partial("PartialViewForSearchResult", ViewData["flightIn"] as IEnumerable<OnlineFlightBooking.Models.Flight>)*@


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SearchRoundWay";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Round Way Trip</title>
    <link rel="stylesheet" href="~/Content/Search.css" />
</head>

<body>
    <div class="wrapper">
        <div class="booking-form-box">
            <div class="booking-form">
                @Html.Partial("PartialViewForSearch", this.Model)
            </div>
        </div>

        <div class="booking-form-box-results">
            <div class="booking-form-results">
                @Html.Partial("PartialViewForSearchResult", ViewData["flightOut"] as IEnumerable<OnlineFlightBooking.Models.Flight>)
            </div>
        </div>

        <div class="booking-form-box-results">
            <div class="booking-form-results">
                @Html.Partial("PartialViewForSearchResult", ViewData["flightIn"] as IEnumerable<OnlineFlightBooking.Models.Flight>)
            </div>
        </div>


    </div>
</body>

